services:
  mongo_db:
    image: mongo
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - "27020:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
  backend:
    build:
        context: ./server
        dockerfile: Dockerfile
    container_name: seating
    ports:
      - "3000:3000"
    restart: always
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      - mongo_db
